@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

$body-color1: rgba(108, 122, 137, 0.8);
$body-color2: rgb(210, 215, 211);
$main-color: rgb(255,255,255);
$dark-theme-text: rgba(255,255,255, 0.7);
$sub-sectionbg-color: rgb(0,0,0,0.2);
$text-color: rgb(0,0,0,0.5);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: $text-color;
}
html {
    scroll-behavior: smooth;
}

body {
    background: $body-color1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: 100vh;

    & > main {
        width: 85vw;
        min-height: 400px;
        background-color: $main-color;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
                    "header"
                    "section1"
                    "section2"
                    "section3"
                    "section4";
        box-shadow: 0 0 3rem $sub-sectionbg-color;
        margin: 2rem 0 3rem;
        overflow: hidden;
        position: relative;

        & > header {
            grid-area: header;
        }

        & > #section-one {
            grid-area: section1;
        }

        & > #section-two {
            grid-area: section2;
        }

        & > #section-three {
            grid-area: section3;
        }

        & > #section-four {
            grid-area: section4;
        }

        & > .change-theme  {
            font-size: 1.8rem;
            position: fixed;
            top: 2.5rem;
            right: 6.5rem;
            border: 1px dotted $text-color;
            border-radius: 100%;
            padding: 3px 6px;
            cursor: pointer;
            transition: .5s ease-in-out;
        }

        & > .fa-solid:hover {
            transform: scale(1.1);
        }

        & > .scrollup {
            position: fixed;
            bottom: -50%;
            right: 6.5rem;
            padding: .5rem .8rem;
            box-shadow: 0 0 2px $text-color;
            border-radius: 5px;
            font-size: 1.5rem;
            display: inline-flex;
            transition: .5s ease-in-out;
        }

        & > .scrollup:hover {
            transform: translateY(-0.2rem);
        }

        & > .show-scroll {
             bottom: 5.5rem; 
        }
    }
}

::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background: white;
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: rgba(black, .4);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(black, 0.6);
}

.dark-theme {

    & > main {
        background: rgba(0,0,0,0.5);

        & > .change-theme  {
            color: $dark-theme-text;
            border: 1px dotted $dark-theme-text;
        }

        & > .scrollup {
            box-shadow: 0 0 5px $dark-theme-text;

            & > i {
                color: $dark-theme-text;
            }
        }

        & > #section-one {
        
            & > .profName {
                color: $dark-theme-text;
        
                & > h1, p {
                    color: $dark-theme-text;
                }
            }
        
            & > .contact {
        
                & > .contactIcons {
        
                    & > i {
                        color: $dark-theme-text;
                    }
                }
        
                & > .contactdetails {
        
                    & > p, a{
                        color: $dark-theme-text;
                    }
                }
            }
        }

        & > #section-two {
        
            & > .title {
        
                & > h1{
                    color: $dark-theme-text;
                }
            }
        
            & > .experience {
        
                & > .experience-container {
        
                    & > .job-details {
        
                        & > h2, p {
                            color: $dark-theme-text;
                        }
                    }

                    & > .inner-container {
                        
                        & > h2, p {
                            color: $dark-theme-text;
                        }

                        & > ul {

                            & > li {
                                color: $dark-theme-text;
                            }
                        }
                    }
                }
            }
        }

        & > #section-three {
            background: rgba(0,0,0,0.5);
        
            & > .sec3-inner {

                & > .sec3-inner > h2::before {
                    background-color: $dark-theme-text;
                }
                
                & > h2, p {
                    color: $dark-theme-text;
                }

                & > .mini-div{
                    & > h3, p {
                        color: $dark-theme-text;
                    }

                    & > .mini-div-inner {

                        & > span {
                            color: $main-color;
                        }
                    }
                }

                & > ul {
                    & > li{
                        color: $dark-theme-text;
                    }
                }
            }
        }

        #section-four {
        
            & > h3 {
                color: $dark-theme-text;
            }
        
            & > hr {
                background-color: $main-color;
            }
        
            & > p {
                color: $dark-theme-text;
            }
        
            & > p:nth-of-type(2),
                p:nth-of-type(3),
                p:nth-of-type(4)  {
                    border-left: 1px solid $main-color;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    main {
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    main {
        width: 95%;
    }
}

@media screen and (max-width: 450px) {
    main {
        width: 100%;
        margin-top: 0;
    }
}