@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

$body-color1: rgba(108, 122, 137, 0.8);
$body-color2: rgb(210, 215, 211);
$main-color: rgb(255,255,255);
$sub-sectionbg-color: rgb(0,0,0,0.2);
$text-color: rgb(0,0,0,0.5);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: $text-color;
}

body {
    background: $body-color1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    min-height: 100vh;

    & > main {
        width: 85%;
        min-height: 400px;
        background-color: $main-color;
        display: flex;
        flex-direction: column;
        column-gap: 2.5rem;
        justify-content: space-between;
        box-shadow: 3rem 3rem 1.5rem $sub-sectionbg-color;
        overflow: hidden;
        margin: 2rem 0 6rem;
    }

    @media screen and (max-width: 900px) {
        main {
            width: 90%;
        }
    }
    @media screen and (max-width: 500px) {
        main {
            width: 95%;
        }
    }

    @media screen and (max-width: 450px) {
        main {
            width: 100%;
            margin-top: 0;
        }
    }
}