
main {
    width: 70%;
    height: 100%;
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    column-gap: 2.5rem;
    justify-content: space-between;
    box-shadow: 3rem 3rem 1.5rem $sub-sectionbg-color;
}
