
#section-one {
    display: grid;
    grid-template-columns: .8fr 1.5fr 1fr;
    gap: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $body-color2;

    & > .profPic {
        background-color: $sub-sectionbg-color;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        & > img{
            width: 100%;
            height: auto;
            border-radius: 100%;
            transition: 0.3s ease-in-out;
        }

        & > img:hover {
            transform: scale(1.1);
        }
    }

    & > .profName {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding-left: 1.5rem;
        padding-top: 5rem;

        & > h1 {
            font-weight: 600;
            color: $text-color;
            letter-spacing: 0.3rem;
            word-spacing: .5rem;
            font-size: 20px;
        }

        & > p {
            font-size: 16px;
            color: $sub-sectionbg-color;
            margin-top: 1rem;
        }
    }

    & > .contact {
        display: grid;
        grid-template-columns: 15% 85%;

        & > .contactIcons {
            background-color: $text-color;
            @include section1_lastSub();

            & > i {
                color: $main-color;
                display: block;
                margin: 0 auto;
            }
        }

        & > .contactdetails {
            @include section1_lastSub();

            & > p{
                line-height: 1rem;
                margin-left: 1rem;
                cursor: pointer;
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #section-one {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "profilePicture profileName"
            "contact contact"
        ;

        & > .profPic {
            grid-area: "profilePicture";
        }

        & > .profName {
            grid-area: "profileName";
        }

        & > .contact {
            grid-area: "contact";
            grid-template-columns: .2fr 1fr;

            & > .contactIcons, .contactdetails {
                padding-top: 2rem;
            }
        }
    }
}