
#section-two {
    display: grid;
    grid-template-columns: .1fr 2.5fr;
    min-height: 300px;
    margin: 2rem 0;

    & > .title {
        width: 100%;

        & > h1{
            text-align: right;
            margin-right: 1rem;
            font-size: 30px;
            letter-spacing: .5rem;
            font-weight: 500;
            transform: rotate(-90deg);
            margin-top: 8rem;
            color: $text-color;
            text-transform: uppercase;
        }
    }

    & > .experience {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: .5rem;

        & > .job-container {
            @include experience_container();

            & > .job-details {
                & > h2, p, span {
                    text-transform: capitalize;
                }

                & > h2 {
                    font-size: 20px;
                }

                & > p {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: .7rem;
                }

                & > span {
                    @include timeline();
                }
            }
        }

        & > .experience-container {
            border-left: 2px solid $text-color;
            padding-left: 1.5rem;
            @include experience_container();
            @include experience();
        }
    }
}

@media screen and (max-width: 1024px) {
    #section-two {
        grid-template-columns: 1fr;
        padding: 1rem;
        margin-top: -8rem;

        & > .title {
            width: 100%;
    
            & > h1{
                text-align: center;
                transform: rotate(0deg);
                margin-bottom: 1rem;
            }
        }
    
    }
}

@media screen and (max-width: 700px) {
    #section-two {
    
        & > .experience {
            display: grid;
            grid-template-columns: .5fr 2fr;
            column-gap: 0;
        }
    }
    

}